/******* CONTENT ***********/


.content{
  
	float:right;
	background-image:url("../imgs/kiwi.png");
	background-size:42% 98%;
	background-repeat:no-repeat;
	background-position:right;
	height:30%;
	width:74%;
	border:1px solid lightgray;
}

h1{
	font-family:sans-serif;
	color:#c41010;
	margin-top:5px;
	margin-left:5px;
width:70%;
}
h5{
	font-family:sans-serif;
	color:#c41010;
	  margin-top:10px;
        width:50%;
	margin-left:5px;
}
.line{
	font-family:sans-serif;
	 color:#808080;
	 width:57.5%;
	 font-size:10px;
	 margin-top:10px;
	 margin-left:5px;
}


.typeForm{
   position:relative;
	display:inline-block;
	top:10px;
	margin-left:5px;
	 background-image:url("../imgs/moreinfo.png");
   background-repeat:no-repeat;
   font-family:sans-serif;
   color:white;
   font-weight:bold;
   border:2px solid #c41010;
   border-radius:4px;  
   width:140px;
   height:30px;
	text-decoration:none;
	vertical-align:middle;
	line-height:30px;
	text-align:center;
}


/******* END OF CONTENT ***********/
